<div class="sidebar">
  <% if user_signed_in? %>
    <% current_user.notes.each do |note| %>
      <%= link_to note_title(note), note_path(note), class: "sidebar-item" %>
    <% end %>
  <% end %>
</div>
