{{#each fields}}
  <div class="contact-field">
    <div class="contact-field-key">
      <input type="text" value="{{@key}}">
    </div>

    <div class="contact-field-value">
      <input type="text" value="{{@this}}">
    </div>

    <a href="#" class="contact-button contact-button-remove fa fa-minus-circle"></a>
  </div>
{{/each}}

<div class="contact-field contact-field-new">
  <div class="contact-field-key">
    <input type="text" value="">
  </div>

  <div class="contact-field-value">
    <input type="text" value="">
  </div>

  <a href="#" class="contact-button contact-button-add fa fa-plus-circle"></a>
</div>
