.content
  position: fixed
  top: 50px
  right: 0
  bottom: 40px
  left: 300px
  
  .content-title
    border-bottom: 1px solid $lighter_borders
    
    input
      width: 100%
      border: 0
      padding: 10px
      font-size: 18px
      outline: none

  .content-body
    position: fixed
    top: 50 + 42px
    bottom: 40px
    right: 0
    left: 300px
    
    .editor-toolbar
      border: 0
      height: 48px !important

    .CodeMirror
      height: 100%
      border: 0
      border-top: 1px solid $lighter_borders

  .content-actions
    position: fixed
    bottom: 0
    right: 0
    left: 300px
    height: 40px
    background: #fafafa
    border-top: 1px solid $lighter_borders
    padding: 3px

    input[type="submit"], a.delete
      display: block
      border: 0
      padding: 6px 25px
      text-transform: uppercase
      font-weight: 600
      background: #75bb8f
      color: white
      font-size: 12px
      margin: 3px
      outline: none
      height: 27px
      
      &.delete
        float: right
        background: #BB7577
        text-decoration: none
        padding-top: 8px
