.content
  position: fixed
  top: 50px
  right: 0
  bottom: 40px
  left: 300px
  
  .content-title
    border-bottom: 1px solid #ccc
    
    input
      width: 100%
      border: 0
      padding: 10px
      font-size: 18px
      outline: none

  .content-body
    textarea
      width: 100%
      border: 0
      position: fixed
      top: 50 + 42px
      bottom: 40px
      right: 0
      left: 300px
      padding: 10px
      outline: none
      font-size: 14px

  .content-actions
    position: fixed
    bottom: 0
    right: 0
    left: 300px
    height: 40px
    background: #ccc
    padding: 10px
