.header
  position: fixed
  top: 0
  left: 0
  right: 0
  height: 50px
  background: $header_bg
  border-bottom: 1px solid $borders
  
  a
    color: #fff

  .header-left
    float: left

    h1
      float: left
      font-weight: bold
      padding: 17px 0 0 10px
      font-size: 18px
      width: 300px

      a
        text-decoration: none

    a.nav-link
      float: left
      margin: 17px 10px 0 10px

  .header-right
    float: right
    padding: 17px 10px 0 10px
