.header
  position: fixed
  top: 0
  left: 0
  right: 0
  height: 50px
  background: $header_bg
  border-bottom: 1px solid $borders
  
  .hamburger
    display: none
    float: left
    height: 30px
    width: 30px
    margin: 10px
    background: darken($header_bg, 5%)
    border-radius: 4px
    padding-top: 7px

    .line
      width: 10px
      height: 1px
      background: #fff
      float: left
      margin: 2px 10px

  a
    color: #fff

  .header-left
    float: left

    h1
      float: left
      font-weight: bold
      padding: 15px 0 0 10px
      width: 300px
      font-family: "Avenir", sans-serif
      font-size: 25px

      a
        text-decoration: none

    a.nav-link
      float: left
      margin: 17px 10px 0 10px

  .header-right
    float: right
    padding: 17px 10px 0 10px

@media only screen and (max-width: 750px)
  .header
    .hamburger
      display: block
