.header
  position: fixed
  top: 0
  left: 0
  right: 0
  height: 50px
  background: $header_bg
  border-bottom: 1px solid $borders
  display: flex
  align-items: center
  
  .hamburger
    display: none
    float: left
    height: 30px
    width: 30px
    margin: 10px
    background: darken($header_bg, 5%)
    border-radius: 4px
    padding-top: 7px

    .line
      width: 10px
      height: 1px
      background: #fff
      float: left
      margin: 2px 10px

  a
    color: #fff
    margin-right: 10px
    
    &.header-newnote
      @media only screen and (max-width: 750px)
        margin-left: auto

      @media only screen and (min-width: 751px)
        margin-right: auto

  h1
    float: left
    font-weight: bold
    width: 300px
    font-family: "Avenir", sans-serif
    font-size: 25px
    margin-left: 10px

    @media only screen and (max-width: 750px)
      width: auto

    a
      text-decoration: none

@media only screen and (max-width: 750px)
  .header
    .hamburger
      display: block
