.sidebar
  position: fixed
  top: 50px
  left: 0
  bottom: 0
  width: 300px
  border-right: 1px solid $lighter_borders
  overflow: scroll
  background: #fff
  z-index: 2
  -webkit-overflow-scrolling: touch
  
  .sidebar-search
    height: 42px
    background: #fafafa
    border-bottom: 1px solid $lighter_borders

    form
      width: 100%
      height: 100%
      
      input
        width: 100%
        border: 0
        height: 100%
        outline: none
        font-size: 16px
        padding: 0 10px

  .sidebar-item
    display: block
    color: #000
    text-decoration: none
    padding: 10px
    background: #fff
    border-bottom: 1px solid $lighter_borders
    
    .sidebar-item-title
      height: 18px
      text-overflow: ellipsis
      overflow: hidden
      white-space: nowrap

    &.active
      background: lighten($sidebar_item_bg, 10%)

      .sidebar-item-title
        font-weight: bold
  
    .pin
      display: none
      height: 15px
      width: 15px
      margin: -5px
      background: image-url('pin.svg')
      background-size: 15px 15px
      float: right

    &:hover .pin
      display: block
      opacity: 0.5

    &.pinned
      .pin
        display: block
        opacity: 1

    .sidebar-item-date
      font-size: 12px
      margin: 5px 0 0 0
      color: #555

@media only screen and (max-width: 750px)
  .sidebar
    display: none
    right: 0
    width: 100%

    &.open
      display: block
