<ul class="thin-nav">
  <li <% if @active_section == :notes %>class="active"<% end %>>
    <%= link_to notes_path do %>
      <i class="fa fa-sticky-note"></i>
      <span class="desc">Notes</span>
    <% end %>
  </li>
  
  <li <% if @active_section == :archive %>class="active"<% end %>>
    <%= link_to archive_notes_path do %>
      <i class="fa fa-archive"></i>
      <span class="desc">Archive</span>
    <% end %>
  </li>

  <li <% if @active_section == :settings %>class="active"<% end %>>
    <%= link_to edit_user_registration_path do %>
      <i class="fa fa-cog"></i>
      <span class="desc">Settings</span>
    <% end %>
  </li>
</ul>
